.titlediv {
    background: lightblue;
    display: flex;
    align-items: center;
    background-image: url("img/background.jpg");
    background-size: cover; 
    background-attachment: fixed; 
    height: 100vh; 
    margin-top: 0px; 
    text-align: center; 
    margin-bottom: 0px;
}
.title {
    font-family: Tahoma;
    color:darkblue;
    size: 70px;
    text-align: center;
}
.titleholder {
    margin-left:auto;
    margin-right:auto; 
    font-family: Tahoma; 
    color:ghostwhite; 
    background-color: rgba(50,50,50,0.8); 
    padding: 10px; 
    width:300px; 
    margin-top: 0%; 
    text-align: center;
}
body {
    margin:0;
    padding:0; 
    height: 740px;
}

.form {
    background: lightyellow;
    font-family: Tahoma;
    text-align: center;
	padding-top:5vh;
}


input[type=text] {
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
select {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus, select:focus {
    border-color:#666;
}

input[type=submit] {
    font-size: 30px;
    padding:5px 15px; 
    background:goldenrod; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=submit]:hover {
    font-size: 30px;
    padding:5px 15px; 
    background:gold; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.AboutUs{
    display:flex;
	flex-flow: row wrap;
	font-family: 'Arial Unicode MS';
}
.About1{
    font-family: Tahoma;
	background-color: #F0F0F0;
	text-align:center;
}
.About2{
    background-color: #373737;
	text-align:center;
	color: #FFFFFF;
}

.result {
	margin-top: 1rem;
	text-align:center;
	font-size:2rem;
	font-weight: bold;
}